.leasingForm {
}

.leasingFormTitle {
  max-width: 650px;
  font-size: 54px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
}

.outputContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1439px) {
  .inputContainer {
    flex-direction: column;
  }

  .outputContainer {
  }
}

@media (max-width: 1023px) {
  .inputContainer {
  }

  .outputContainer {
  }
}

@media (max-width: 767px) {
  .inputContainer {
  }

  .outputContainer {
    flex-direction: column;
  }
}
