.leasingForm {
  margin-top: 100px;
}

.leasingFormTitle {
  max-width: 650px;
  font-size: 54px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.outputContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.mainButton {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  width: 426px;
  height: 68px;
}

@media (min-width: 1439px) {
  .inputWrapper,
  .outputWrapper {
    width: 31%;
  }
}

@media (max-width: 1439px) {
  .leasingForm {
    margin-top: 80px;
  }

  .inputContainer {
    flex-direction: column;
    margin-top: 44px;
    height: 421px;
  }

  .outputContainer {
    flex-wrap: wrap;
  }

  .outputWrapper {
    width: calc(100% / 2);
  }

  .mainButton {
    margin-top: 44px;
    width: 345px;
    height: 68px;
  }
}

@media (max-width: 767px) {
  .leasingForm {
    margin-top: 64px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .leasingFormTitle {
    font-size: 34px;
    line-height: 31px;
  }

  .outputContainer {
    margin-top: 0px;
    flex-direction: column;
  }

  .mainButton {
    margin-top: 0px;
    font-size: 22px;
    line-height: 20px;
    width: 280px;
    height: 60px;
  }
}
