.mainButton {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 0 24px;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  height: 48px;
}

.primary {
  border: 1px solid #ff9514;
  background: #ff9514;
  color: white;
}

.outline {
  border: 1px solid #ff9514;
  background: white;
  color: #ff9514;
}

.secondary {
  border: 1px solid #f3f3f4;
  background: #f3f3f4;
  color: #111111;
}

.primary:hover {
  border: 1px solid white;
  background: #111111;
  color: white;
}

.outline:hover {
  border: 1px solid #ff9514;
  background: #ff9514;
  color: white;
}

.secondary:hover {
  border: 1px solid white;
  background: #111111;
  color: white;
}

.primary:active {
  border: 1px solid #575757;
  background: #575757;
  color: white;
}

.outline:active {
  border: 1px solid #ffa83d;
  background: #ffa83d;
  color: white;
}

.secondary:active {
  border: 1px solid #575757;
  background: #575757;
  color: white;
}

.primary:disabled {
  border: 1px solid rgba(255, 149, 20, 0.4);
  background: rgba(255, 149, 20, 0.4);
  color: white;
}

.outline:disabled {
  border: 1px solid rgba(255, 149, 20, 0.4);
  background: white;
  color: rgba(255, 149, 20, 0.4);
}

.secondary:disabled {
  border: 1px solid #f3f3f4;
  background: #f3f3f4;
  color: #3f3f3f;
}
