.sliderSection {
  color: #ffffff;
  background-color: #000000;
  height: 473px;
  border-radius: 32px;
  position: relative;
}

@media (max-width: 320px) {
  .sliderSection {
    border-radius: 0px 0px 32px 32px;
  }
}
