.sliderSection {
  position: relative;
  color: #ffffff;
  background-color: #000000;
  height: 473px;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .sliderSection {
    height: 490px;
    border-radius: 0px 0px 32px 32px;
  }
}
