.header {
  background-color: white;
  position: fixed;
  display: flex;
  width: 100%;
  height: 48px;
  margin-top: 21px;
  margin-left: 48px;
  margin-right: 48px;
  align-items: center;
  z-index: 1;
}

.company {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.navigation {
}

.navList {
  color: #575757;
  display: flex;
}

.navItem {
  list-style: none;
}

.navItemLink {
  color: #575757;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

@media (max-width: 320px) {
  .header {
    background-color: #000000;
    margin: 0px;
  }
}
