.header {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 90px;
  padding: 0px 48px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.company {
  font-style: normal;
  font-weight: 400;
  margin-left: 17px;
  padding: 3px 16px;
  border-left: 1px solid rgba(17, 17, 17, 0.5);
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 0.5);
}

.leftMenu {
  display: flex;
  align-items: center;
}
.navigation {
  margin-right: 24px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.navList {
  color: #575757;
  display: flex;
}

.navItem {
  list-style: none;
  padding: 6px 16px;
}

.navItemLink {
  color: #575757;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

@media (max-width: 1439px) {
}

@media (max-width: 1023px) {
  .header {
    padding: 0px 36px;
    height: 80px;
  }
  .leftMenu {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0px;
    height: 60px;
    background-color: black;
  }

  .logo {
    padding-left: 20px;
  }
  .company {
    display: none;
  }
}
