.imageContainer {
  position: absolute;
  width: 841px;
  height: 472px;
  top: 0px;
  right: 0px;
  border-radius: 32px;
  overflow: hidden;
}
.infoContainer {
  max-width: 585px;
  padding-top: 70px;
  padding-left: 70px;
}

.slideTitle {
  position: relative;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  margin-bottom: 28px;
}

.slideDescription {
  position: relative;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 28px;
}

.navMenu {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  bottom: 24px;
  display: flex;
  width: 134px;
  align-items: center;
  justify-content: space-between;
}

.navMenuButton {
  background-color: #ffffff;
  opacity: 40%;
  height: 6px;
  width: 6px;
  border-radius: 3px;
}

.navMenuButtonCurrent {
  transform: scale(2);
  opacity: 100%;
}

.navMenuButton:hover {
  transform: scale(2);
  cursor: pointer;
  opacity: 100%;
}

.navContainer {
  position: absolute;
  width: 88px;
  height: 48px;
  bottom: 44px;
  right: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1439px) {
  .imageContainer {
    top: 93px;
    width: 675px;
    height: 379px;
  }
}

@media (max-width: 1023px) {
  .imageContainer {
    width: 571px;
    height: 321px;
    left: 79px;
    top: -62px;
    margin: auto;
  }

  .infoContainer {
    padding-top: 227px;
    padding-left: 43px;
    margin: auto;
  }

  .slideDescription {
    display: none;
  }

  .navContainer {
    display: none;
  }
}

@media (max-width: 767px) {
  .imageContainer {
    height: 261px;
    width: 462px;
    left: -125px;
    top: 4px;
    border-radius: 0px;
  }

  .infoContainer {
    padding-top: 238px;
    padding-left: 20px;
  }

  .slideTitle {
    font-size: 32px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
}
