.imageContainer {
  position: absolute;
  width: 841px;
  height: 472px;
  top: 0px;
  right: 0px;
  border-radius: 32px;
  overflow: hidden;
}
.infoContainer {
  max-width: 585px;
  padding-top: 70px;
  padding-left: 70px;
}

.slideTitle {
  position: relative;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  margin-bottom: 28px;
}

.slideDescription {
  position: relative;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 28px;
}

.navButton {
  position: absolute;
  cursor: pointer;
}

@media (max-width: 1439px) {
  .imageContainer {
    width: 675px;
    height: 379px;
  }

  .infoContainer {
  }

  .slideTitle {
  }

  .slideDescription {
  }

  .navButton {
  }
}

@media (max-width: 1023px) {
  .imageContainer {
    position: relative;
    width: 571px;
    height: 321px;
  }

  .infoContainer {
  }

  .slideTitle {
  }

  .slideDescription {
  }

  .navButton {
  }
}

@media (max-width: 767px) {
  .imageContainer {
    position: relative;
    width: 462px;
    height: 261px;
  }

  .infoContainer {
  }

  .slideTitle {
  }

  .slideDescription {
  }

  .navButton {
  }
}
